<div class="footer bg-stone-950 text-sky-50 px-20">

  <!-- Footer title and fonrm -->
  <div class="footer-container flex justify-between  pt-5">
    <div class="">
      <p class="footer-title ">Sign Up To Our Newsletter.</p>
      <p class="footer-subtitle">Be the first to hear about the latest offers.</p>
    </div>
    <form class="footer-form">
      <input type="email" class="footer-input " placeholder="Your Email">
      <button type="submit" class="footer-button ">Subscribe</button>
    </form>
  </div>

  <!-- Footer nav -->
  <div class="footer-nav">
    <div class="footer-columns flex justify-between mt-8">
      <!-- Information Column -->
      <div class="footer-column">
        <h3 class="column-heading">Information</h3>
        <ul class="footer-links">
          <li class="footer-item"><a href="#" class="footer-link">About Us</a></li>
          <li class="footer-item"><a href="#" class="footer-link">About Zip</a></li>
          <li class="footer-item"><a href="#" class="footer-link">Privacy Policy</a></li>
          <li class="footer-item"><a href="#" class="footer-link">Search</a></li>
          <li class="footer-item"><a href="#" class="footer-link">Terms</a></li>
          <li class="footer-item"><a href="#" class="footer-link">Orders and Returns</a></li>
          <li class="footer-item"><a href="#" class="footer-link">Contact Us</a></li>
          <li class="footer-item"><a href="#" class="footer-link">Advanced Search</a></li>
          <li class="footer-item"><a href="#" class="footer-link">Newsletter Subscription</a></li>
        </ul>
      </div>

      <!-- PC Parts Column -->
      <div class="footer-column">
        <h3 class="column-heading">PC Parts</h3>
        <ul class="footer-links">
          <li class="footer-item"><a href="#" class="footer-link">CPUS</a></li>
          <li class="footer-item"><a href="#" class="footer-link">Add On Cards</a></li>
          <li class="footer-item"><a href="#" class="footer-link">Hard Drives (Internal)</a></li>
          <li class="footer-item"><a href="#" class="footer-link">Graphic Cards</a></li>
          <li class="footer-item"><a href="#" class="footer-link">Keyboards / Mice</a></li>
          <li class="footer-item"><a href="#" class="footer-link">Cases / Power Supplies / Cooling</a></li>
          <li class="footer-item"><a href="#" class="footer-link">RAM (Memory)</a></li>
          <li class="footer-item"><a href="#" class="footer-link">Software</a></li>
          <li class="footer-item"><a href="#" class="footer-link">Speakers / Headsets</a></li>
          <li class="footer-item"><a href="#" class="footer-link">Motherboards</a></li>
        </ul>
      </div>

      <!-- Desktop PCs Column -->
      <div class="footer-column">
        <h3 class="column-heading">Desktop PCs</h3>
        <ul class="footer-links">
          <li class="footer-item"><a href="#" class="footer-link">Custom PCs</a></li>
          <li class="footer-item"><a href="#" class="footer-link">Servers</a></li>
          <li class="footer-item"><a href="#" class="footer-link">MSI All-in-One PCs</a></li>
          <li class="footer-item"><a href="#" class="footer-link">HP/Compaq PCs</a></li>
          <li class="footer-item"><a href="#" class="footer-link">ASUS PCs</a></li>
          <li class="footer-item"><a href="#" class="footer-link">Tecs PCs</a></li>
        </ul>
      </div>

      <!-- Laptops Column -->
      <div class="footer-column">
        <h3 class="column-heading">Laptops</h3>
        <ul class="footer-links">
          <li class="footer-item"><a href="#" class="footer-link">Everyday Use Notebooks</a></li>
          <li class="footer-item"><a href="#" class="footer-link">MSI Workstation Series</a></li>
          <li class="footer-item"><a href="#" class="footer-link">MSI Prestige Series</a></li>
          <li class="footer-item"><a href="#" class="footer-link">Tablets and Pads</a></li>
          <li class="footer-item"><a href="#" class="footer-link">Netbooks</a></li>
          <li class="footer-item"><a href="#" class="footer-link">Infinity Gaming Notebooks</a></li>
        </ul>
      </div>
      <!-- Address Column -->
      <div class="footer-column">
        <h3 class="column-heading  ">Address</h3>
        <div class="contact-info">
          <p class="contact-address footer-item">Address: 1234 Street Adress City Address, 1234</p>
          <p class="contact-phone footer-item">Phones: <a href="tel:00123456789" class="phone-link">(00) 1234 5678</a>
          </p>
          <div class="business-hours">
            <p class="footer-item">We are open: Monday-Thursday: 9:00 AM - 5:30 PM</p>
            <p class="footer-item">Friday: 9:00 AM - 6:00 PM</p>
            <p class="footer-item">Saturday: 11:00 AM - 5:00 PM</p>
          </div>
          <p class="contact-email footer-item">E-mail: <a href="" class="email-link">{{email}}</a></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer bootom -->
  <div class="footer-bottom flex justify-between ">
    <div class="social-icons">
      <a href="https://www.facebook.com/daotaohieu/" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-facebook social-icon"></i>
      </a>
      <a href="https://www.youtube.com/@daotaohieu/featured" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-youtube social-icon"></i>
      </a>
    </div>
    <img class="payment-methods" src="assets/images/payment-methods.png" alt="payment">
    <p class="copyright">Copyright © 2020 Shop Pty. Ltd.</p>
  </div>


</div>