<div class="px-40">
    <!-- Banner -->
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let slide of itemBanner">
            <div class=" justify-center items-center flex  ">
                <img class=" w-full h-50  " [src]="slide.src" alt="banner">
            </div>
        </ng-template>
    </owl-carousel-o>

    <div class="main-content pb-20">

        <!-- New products -->
        <div class="flex justify-between">
            <p class="text-base font-semibold">Sản phẩm mới</p>
            <a class="text-sm underline text-blue-500" href="#">Xem tất cả sản phẩm mới</a>
        </div>
        <div class="grid grid-cols-6 gap-6 mt-4 mb-4">
            <div *ngFor="let product of listProducts">
                <div [routerLink]="['/', ROUTING.DETAIL_PRODUCT, product.id]"
                    class="flex flex-col h-full px-4 py-3 bg-stone-50 shadow-md cursor-pointer transition-transform duration-300 hover:scale-105 hover:shadow-sky-500">
                    <!-- Trạng thái -->
                    <p class="text-[10px] text-green-700"><i class="fa-solid fa-circle-check"></i> in stock</p>

                    <!-- Ảnh sản phẩm -->
                    <div class="flex justify-center items-center h-[120px] mt-2">
                        <img class="max-h-full object-contain" [src]="product.images[0].url" alt="product" />
                    </div>

                    <!-- Đánh giá -->
                    <div class="flex justify-between items-center mt-2">
                        <img class="h-3" src="assets/images/products/star.png" alt="star" />
                        <p class="text-xs text-zinc-600">Reviews (4)</p>
                    </div>

                    <!-- Tên sản phẩm -->
                    <p class="text-xs mt-2.5 line-clamp-2 ">{{ product.name }}</p>

                    <!-- Thêm loại sản phẩm -->
                    <p class="text-[11px] text-gray-500 mt-1">Category: {{ product.category?.name }}</p>

                    <!-- Thêm hãng sản xuất -->
                    <p class="text-[11px] text-gray-500">Brand: {{ product.manufacture?.name }}</p>


                    <!-- Giá -->
                    <!-- <p class="text-sm mt-2.5 line-through text-zinc-600">{{ product.originalPrice || product.price }}</p> -->

                    <p class="text-base font-semibold mt-[4px]">
                        {{ product.price | priceFormat }}<sup class="text-xs ml-0.5">đ</sup>
                    </p>
                </div>
            </div>
        </div>



        <!-- zip -->
        <img src="assets/images/zip.png" alt="zip">


        <!-- Custome Builds -->
        <div class=" grid grid-cols-6 gap-4 my-4">
            <div class="
                bg-[url(assets/images/products/customeBuilds/bg.png)]
                text-stone-200
                text-center
                flex flex-col justify-between items-center 
                px-8
                py-6            ">
                <p class="text-2xl font-semibold pt-20">Custome Builds</p>
                <a [routerLink]="['/', ROUTING.CATALOG, 'custome-builds']" class="text-xs underline">
                    See All Products
                </a>
            </div>
            <div *ngFor="let product of products | slice:0:5">
                <div
                    class="px-4 py-3 shadow-md bg-stone-50 cursor-pointer hover:scale-106 hover:shadow-sky-500 focus:scale-106 focus:shadow-sky-500 duration-300">
                    <p class="text-[10px] text-green-700"><i class="fa-solid fa-circle-check"></i> in stock</p>
                    <div class="flex justify-center">
                        <img class="w-30" [src]="product.img" alt="product">
                    </div>
                    <div class="flex justify-between items-center mt-2">
                        <img class="h-3" src="assets/images/products/star.png" alt="star">
                        <p class="text-xs text-zinc-600">Reviews (4)</p>
                    </div>
                    <p class="text-xs mt-2.5 line-clamp-3">{{product.name}}</p>
                    <p class="text-sm mt-2.5 line-through text-zinc-600">{{product.price}}</p>
                    <p class="text-base font-semibold">{{product.price}}</p>
                </div>
            </div>
        </div>

        <!-- MSI Laptop -->
        <div class="mt-10">
            <!-- ul>li*4>a[href="#"] -->
            <ul class="flex justify-between w-130 text-base font-semibold  text-zinc-500 ">
                <li class="cursor-pointer duration-300 hover:text-zinc-900 hover:scale-105 relative">
                    <a href="#">MSI GS
                        Series</a>
                </li>
                <li class="cursor-pointer duration-300 hover:text-zinc-900 hover:scale-105 relative">
                    <a href="#">MSI GT
                        Series</a>
                </li>
                <li class="cursor-pointer duration-300 hover:text-zinc-900 hover:scale-105 relative">
                    <a href="#">MSI GL
                        Series</a>
                </li>
                <li class="cursor-pointer duration-300 hover:text-zinc-900 hover:scale-105 relative">
                    <a href="#">MSI GE
                        Series</a>
                </li>
            </ul>
        </div>
        <div class=" grid grid-cols-6 gap-4 mt-4">
            <div class="
                bg-[url(assets/images/products/msi/bg-msi.png)]
                text-stone-200
                text-center
                flex flex-col justify-between items-center 
                px-8
                py-6            ">
                <p class="text-2xl font-semibold pt-20">MSI Laptops</p>
                <a class="text-xs  underline " href="#">See All Products</a>
            </div>
            <div *ngFor="let product of products | slice:0:5">
                <div
                    class="px-4 py-3 shadow-md bg-stone-50 cursor-pointer hover:scale-106 hover:shadow-sky-500 focus:scale-106 focus:shadow-sky-500 duration-300">

                    <p class="text-[10px] text-green-700"><i class="fa-solid fa-circle-check"></i> in stock</p>
                    <div class="flex justify-center">
                        <img class="w-30" [src]="product.img" alt="product">
                    </div>
                    <div class="flex justify-between items-center mt-2">
                        <img class="h-3" src="assets/images/products/star.png" alt="star">
                        <p class="text-xs text-zinc-600">Reviews (4)</p>
                    </div>
                    <p class="text-xs mt-2.5 line-clamp-3">{{product.name}}</p>
                    <p class="text-sm mt-2.5 line-through text-zinc-600">{{product.price}}</p>
                    <p class="text-base font-semibold">{{product.price}}</p>
                </div>
            </div>
        </div>

        <!-- Desktops -->
        <div class="mt-10">
            <ul class="flex justify-between w-130 text-base font-semibold  text-zinc-500 ">
                <li class="cursor-pointer duration-300 hover:text-zinc-900 hover:scale-105 relative">
                    <a href="#">MSI Infinute Series</a>
                </li>
                <li class="cursor-pointer duration-300 hover:text-zinc-900 hover:scale-105 relative">
                    <a href="#">MSI Triden</a>
                </li>
                <li class="cursor-pointer duration-300 hover:text-zinc-900 hover:scale-105 relative">
                    <a href="#">MSI GL Series</a>
                </li>
                <li class="cursor-pointer duration-300 hover:text-zinc-900 hover:scale-105 relative">
                    <a href="#">MSI Nightblade</a>
                </li>
            </ul>
        </div>
        <div class=" grid grid-cols-6 gap-4 mt-4">
            <div class="
                bg-[url(assets/images/products/desktops/bg-desktop.png)]
                text-stone-200
                text-center
                flex flex-col justify-between items-center 
                px-8
                py-6            ">
                <p class="text-2xl font-semibold pt-20">Desktops</p>
                <a class="text-xs  underline " href="#">See All Products</a>
            </div>
            <div *ngFor="let product of products | slice:0:5">
                <div
                    class="px-4 py-3 shadow-md bg-stone-50 cursor-pointer hover:scale-106 hover:shadow-sky-500 focus:scale-106 focus:shadow-sky-500 duration-300">

                    <p class="text-[10px] text-green-700"><i class="fa-solid fa-circle-check"></i> in stock</p>
                    <div class="flex justify-center">
                        <img class="w-30" [src]="product.img" alt="product">
                    </div>
                    <div class="flex justify-between items-center mt-2">
                        <img class="h-3" src="assets/images/products/star.png" alt="star">
                        <p class="text-xs text-zinc-600">Reviews (4)</p>
                    </div>
                    <p class="text-xs mt-2.5 line-clamp-3">{{product.name}}</p>
                    <p class="text-sm mt-2.5 line-through text-zinc-600">{{product.price}}</p>
                    <p class="text-base font-semibold">{{product.price}}</p>
                </div>
            </div>
        </div>

        <!-- Logo -->
        <div class="flex justify-between items-center mt-10">
            <img src="assets/images/logo/logo (1).png" alt="logo">
            <img src="assets/images/logo/logo (2).png" alt="logo">
            <img src="assets/images/logo/logo (3).png" alt="logo">
            <img src="assets/images/logo/logo (4).png" alt="logo">
            <img src="assets/images/logo/logo (5).png" alt="logo">
            <img src="assets/images/logo/logo (6).png" alt="logo">
        </div>



    </div>

</div>